// colors
$accent :  #2B4074;
$text-color : #4A4A4A;
$bg-color : #F9F6E5;

// fonts
$robotomedium : 'Roboto-Medium', 'Arial', 'sans-serif';
$robotoregular : 'Roboto-Regular', 'Arial', 'sans-serif';
$robotocondensedBold : 'RobotoCondensed-Bold', 'Arial', 'sans-serif';
$robotocondensedRegular : 'RobotoCondensed-Regular', 'Arial', 'sans-serif';