@import '../../node_modules/bootstrap/scss/bootstrap-grid';

@import '../../node_modules/slick-slider/slick/slick.scss';

@import 'mixins';
@import 'fonts';
@import 'normalize';
@import 'variables';


html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p {
    margin: 0;
}


button {
    padding: 0;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: $robotoregular;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.container {
    padding: 0 20px;
}
/*-----*/
.header {
    background-color: $accent;
}
.header__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__link {
    margin-left: 8px;
}
.menu__btn {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    position: relative;
    &::after {
        content: '';
        width: 12px;
        height: 2px;
        border-radius: 1px;
        background-color: $accent;
        position: absolute;
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
    }
}
/*-----*/
.head {
    background-image: url(../img/bg-slider.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 193px;
}
@media(min-width: 640px) {
    .head {
        min-height: 386px;
        background-position: center center;
    }
}

.top-slider__item {
    color: #fff;
    text-align: center;
    min-height: 193px;
}
.top-slider__title {
    font-family: $robotocondensedRegular;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 36px 0 28px;
    max-width: 243px;
    margin: 0 auto;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 8px;
        width: 61px;
        background-color: $text-color;
        margin: 0 auto;
    }
}
.top-slider {
    background: rgba(33, 33, 33, 0.5);
    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        .slick-active {
            button {
              background-color: transparent;
              border: 1px solid #476E4D;
            }
        }
        button {
            font-size: 0;
            border: none;
            background-color: $accent;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;
        }
    }
}
@media(min-width: 640px) {
    .top-slider__item {
        min-height: 386px;
        
    }
    .top-slider__title {
        font-size: 60px;
        line-height: 60px;
        padding: 50px 0 15px;
        margin: 0 auto 30px;
        max-width: 522px;
    }
}

.top-slider__btn {
    display: none;
}
.top-slider__text {
    display: none;
}
@media(min-width: 768px) {
    .top-slider__item {
        min-height: 465px;
    }
    .top-slider__title {
        padding: 87px 0 0;
        &::after {
            display: none;
        }
    }
    .top-slider__text {
        display: block;
        padding: 25px 0 32px;
        font-family: $robotocondensedRegular;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        max-width: 587px;
        margin: 0 auto;
    }
}


// media

@media(min-width: 640px) {
    .container {
        padding: 0 30px;
    }
    .header__inner {
        min-height: 100px;
    }
    .logo__link {
        margin-left: 14px;
    }

    .top-slider__btn {
        display: block;
        border: none;
        margin: 0 auto 113px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        background-color: $accent;
        color: $bg-color;
        padding: 16px 45px;
        border-radius: 3px;

    }
    
    .slick-dots {
        bottom: 50px;
    }
    .slick-arrow {
        width: 56px;
        height: 56px;
        border: none;
        position: absolute;
        right: 0;
        z-index: 5;
    }
    .slick-prev {
        background-color: $accent;
        top: calc(50% - 56px);
    }
    .slick-next {
        background-color: $bg-color;
        bottom: calc(50% - 56px);
    }
}
@media(min-width: 768px) {
    .container {
        padding: 0 40px;
    }
}
@media(min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }


    .top-slider {
        &__item {
            min-height: 618px;
        }
        &__title {
            padding-top: 101px;
            font-size: 84px;
            line-height: 84px;
            letter-spacing: 2px;
            max-width: 750px;
        }
        &__text {
            
        }
       .slick-dots {
        bottom: 80px;
    } 
    }
    
}
@media(min-width: 1440px) {
    .container {
        max-width: 1320px;
    }
    .menu__btn {
        margin-right: 90px;
    }


    .top-slider {
        &__item {
            min-height: 618px;
        }
        &__title {
            padding-top: 107px;
            font-size: 96px;
            line-height: 96px;
            max-width: 865px;
        }
        &__text {
            font-size: 24px;
            line-height: 26px;
            max-width: 886px;
        }
       .slick-dots {
        bottom: 80px;
    } 
    }
}
